* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  background-color: #f3f3f3;
  font-family: cursive;
}
.contenedor {
  position: relative;
  height: 450px;
}

#tituloPrincipal {
  background-color: #dedada80;
  font-size: 40px;
  padding: 10px 20px;
  position: absolute;
}
.imagenPrincipal {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}
.tituloSecundario {
  background-color: black;
  color: white;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
#logo {
  background-color: white;
  bottom: 0;
  left: 80%;
  position: absolute;
  width: 100px;
}
.contenedorBody {
  display: flex;
}
.imagen {
  margin-left: 20px;
  margin-top: 5px;
  height: 200px;
}
.contenedorNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 20px 10px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #5fa199;
  cursor: pointer;
  text-decoration: underline;
}
.active {
  color: #5fa199;
  text-decoration: underline;
}
.contenedorTexto {
  font-size: 15px;
  margin-left: 40px;
  margin-right: 30px;
}
.contenedorTextoContact {
  margin-left: 0;
}
.headerRules {
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionRules {
  display: flex;
  flex-direction: column;
  margin: 0 15px 0 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.mainRules {
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}
.titleRules {
  margin-bottom: 20px;
  font-size: 25px;
}
.subtitleRules {
  margin-top: 30px;
  font-size: 20px;
}
.parrafoRules {
  margin-top: 20px;
  margin-bottom: 15px;
}
p,
li {
  font-size: 13px;
}
.listRules {
  margin-left: 30px;
}
#listRuleCircle {
  list-style: circle;
  margin-left: 30px;
}
.pDecoration {
  text-decoration: underline;
  font-style: italic;
}
.contenedorMain {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-top: 20px;
}
.sectionRules {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 20px;
}
.h1Rules {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}
#pDecoration {
  text-decoration: underline;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 50px;
}
.infoRules {
  margin-bottom: 15px;
  font-size: 15px;
}
.parrafoContact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 100px;
}
.tituloRules {
  margin-bottom: 20px;
  text-align: center;
}
form {
  margin: 0 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.sectionFormPrimera {
  font-size: 16px;
  margin-right: 20px;
}
.inputText {
  background-color: #f3f3f3;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
#name,
#lastName {
  width: 41%;
}
#address {
  width: 91%;
}
#city,
#code,
#signature,
#date {
  width: 45%;
}
.contenedorChek {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.gender {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
.grade {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.parrafoForm {
  font-size: 16px;
  margin-bottom: 16px;
}
.school {
  display: flex;
  flex-direction: row;
  margin: 15px;
  font-size: 15px;
}
.school > input {
  margin-right: 15px;
}
th,
td {
  padding: 5px 30px;
  font-size: 15px;
}
.possitionUno,
possitionDos {
  display: flex;
  flex-direction: row;
  margin: 15px;
}
.tituloForm {
  margin-bottom: 10px;
  font-size: 22px;
}
.size {
  font-size: 15px;
  margin: 15px;
}
#marjo,
#defense {
  margin-left: 50px;
}
#goalk,
#m {
  margin-left: 55px;
}
#ex {
  margin-left: 50px;
}
#l {
  margin-left: 35px;
}
#north {
  margin-left: 90px;
}
#south {
  margin-left: 37px;
}
#preSchool,
#uno,
#dos,
#tres,
#cuatro,
#cinco {
  margin-right: 10px;
  margin-left: 15px;
}
button {
  border: 0;
  background-color: #5fa1998a;
  border-radius: 5px;
  padding: 5px;
}
@media (max-width: 424px) {
  .contenedor {
    height: 215px;
  }
  #tituloPrincipal {
    font-size: 20px;
    padding: 8px 5px;
  }
  .tituloSecundario {
    padding: 5px 0;
    bottom: 0;
    font-size: 12px;
  }
  .imagen {
    height: 100px;
    margin: 5px;
  }
  #logo {
    /* bottom: 42px; */
    left: 80%;
    width: 50px;
  }
  .contenedorNav {
    margin-left: 2px;
    width: 15%;
    font-size: 8px;
  }
  .contenedorTexto {
    font-size: 8px;
    margin-left: 14px;
    margin-right: 4px;
  }
  p,
  li {
    font-size: 8px;
  }
  .contenedorBody {
    margin-top: 15px;
  }
  .contenedorNavRules > nav a {
    font-size: 8px;
    margin-right: 2px;
  }
  .contenedorNavRules nav {
    width: 14%;
    height: 81vh;
  }
  .titleRules {
    margin-bottom: 5px;
    font-size: 12px;
  }
  .subtitleRules {
    margin-top: 5px;
    font-size: 12px;
  }
  .parrafoRules {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .sectionRules {
    padding: 5px;
    margin: 0;
  }
  #pDecoration {
    font-size: 10px;
    margin-bottom: 20px;
  }
  th,
  td {
    padding: 2px;
    font-size: 10px;
  }
  iframe,
  .iframe {
    display: none;
  }
  .sectionFormPrimera {
    font-size: 12px;
  }
  .gender {
    font-size: 12px;
    margin-left: 5px;
  }
  #name,
  #lastName,
  #address,
  #city,
  #code {
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .contenedorChek {
    display: flex;
    flex-wrap: wrap;
  }
  .grade {
    font-size: 12px;
  }
  .tituloForm {
    margin: 0;
    font-size: 13px;
  }
  .parrafoForm {
    font-size: 12px;
    margin-bottom: 5px;
  }
  #marjo,
  #defense {
    margin-left: 15px;
  }
  #north {
    margin-left: 47px;
  }
  #south {
    margin-left: 20px;
  }
  #goalk,
  #m {
    margin-left: 17px;
  }
  #l {
    margin-left: 2px;
  }
  #ex {
    margin-left: 15px;
  }
  .tituloPermission {
    font-size: 15px;
  }
  .signature {
    font-size: 10px;
  }
  button {
    font-size: 10px;
    padding: 2px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  #tituloPrincipal {
    font-size: 25px;
  }
  .tituloSecundario {
    font-size: 14px;
  }
  .contenedor {
    height: 290px;
  }
  .sectionFormPrimera {
    font-size: 15px;
    display: flex;
    flex-direction: column;
  }
  #logo {
    left: 75%;
    width: 90px;
  }
  .contenedorChek {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .contenedorChek {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 15px;
  }
  .gender {
    font-size: 15px;
  }
  .grade {
    font-size: 15px;
  }
  .tituloForm {
    margin: 5px;
    font-size: 20px;
  }
  .parrafoForm {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .school {
    margin: 10px;
  }
  #north {
    margin-left: 87px;
  }
  #marjo,
  #defense {
    margin-left: 49px;
  }
  #goalk,
  #m {
    margin-left: 53px;
  }
  #ex {
    margin-left: 45px;
  }
  .tituloPermission {
    font-size: 20px;
  }
  p,
  li {
    font-size: 10px;
  }
  .signature {
    font-size: 15px;
  }
  .contenedorNavRules > nav a {
    font-size: 9px;
    margin-right: 5px;
  }
  .subtitleRules {
    margin-top: 15px;
    font-size: 20px;
  }
  .sectionRules {
    padding: 15px;
  }
  .imagen {
    margin-left: 5px;
    height: 120px;
  }
  .contenedorNav {
    font-size: 10px;
    width: 15%;
  }
}
@media (min-width: 1440px) and (max-width: 2560px) {
  .contenedor {
    height: 1000px;
  }
  #tituloPrincipal {
    font-size: 70px;
  }
  .tituloSecundario {
    padding: 25px 0;
    font-size: 50px;
  }
  #logo {
    width: 215px;
  }
  a {
    font-size: 30px;
  }
  .sectionFormPrimera {
    font-size: 35px;
  }
  #name,
  #lastName {
    width: 38%;
  }
  #address {
    width: 99%;
  }
  #city,
  #code,
  #signature,
  #date {
    width: 44%;
  }
  .inputText {
    font-size: 35px;
  }
  .gender {
    font-size: 35px;
  }
  .grade {
    font-size: 35px;
  }
  .tituloForm {
    font-size: 40px;
  }
  .parrafoForm {
    font-size: 35px;
  }
  .school {
    font-size: 35px;
  }
  #north {
    margin-left: 148px;
  }
  .size {
    font-size: 35px;
  }
  #l {
    margin-left: 18px;
  }
  .tituloPermission {
    font-size: 40px;
  }
  p,
  li {
    font-size: 25px;
  }
  .signature {
    font-size: 30px;
  }
  button {
    font-size: 30px;
  }
  th,
  td {
    font-size: 35px;
  }
  .infoRules {
    font-size: 30px;
  }
  #pDecoration {
    font-size: 35px;
  }
  .imagen {
    margin-right: 30px;
    height: 400px;
  }
  .contenedorTexto {
    font-size: 30px;
  }
}
